# data files not to be shared >:(
data/
results/
ncbi_big_download/
reference_fasta/

# ignore temp folders
temp/
tmp/

# ignore my ramblings
notes

# ignore old metagenomics pipeline
code/metagenomics_pipeline

# ignore output and error logs
*.err
*.out